@media (max-width: 1024px) {
    .main-wrapper-row {
        flex-direction: column;
    }
    .doc-main {
        width: 100%;
    }
    .doc-body > div {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .main-wrapper-row,
    .doc-widget {
        flex-direction: column;
    }
    .doc-main {
        width: 100%;
    }
    .doc-header-link,
    .doc-header-link-right ul {
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;
    }
    .doc-header-link-right ul li {
        padding-left: 0;
        margin-bottom: 10px;
    }
    .doc-index-menubtn {
        display: block;
    }
    .doc-main-left {
        /* display: none; */
        position: fixed;
        top: 85px;
        background: #fff;
        height: 100vh;
        z-index: 999;
        width: 100%;
        left: 0;
        transform: translateX(-100%);
        overflow-y: scroll;
        transition: all 0.35s ease;
    }
    .doc-main-left.active {
        transform: translateX(0);
    }
    .doc-main-tab {
        position: initial;
    }
    .doc-main-content {
        flex: 1;
        max-width: 100%;
    }
    .doc-widget > div {
        max-width: 100%;
    }
    .doc-widget-col-2 {
        border-top: 2px solid var(--ss-light-gray-3);
    }
    .doc-widget-col-3 {
        border-left: 2px solid var(--ss-light-gray-3);
    }
}
@media (min-width: 769px) {
    .doc-index-close {
        display: none;
    }
}
@media (max-width: 768px) {
    .lp-content-left {
        display: none;
    }
    .lp-tab-content-list {
        padding-bottom: 20px;
    }
    .lp-tab-content-box ul {
        padding-top: 8px;
    }
    .lp-tab .nav-link {
        flex-basis: 100%;
    }
    .lp-style-two .lp-tab .nav-link {
        flex-basis: 0;
        white-space: nowrap;
    }
}

@media (max-width: 600px) {
    .subtitle-wrapper h2 {
        font-size: 18px;
    }
    .tab-viewall {
        font-size: 14px;
        width: 90px;
    }
    .sourcebook-active, 
    .studies-active {
        padding: 35px 0 0;
    }
    .sourcecard-wrapper {
        max-width: 100%;
    }
    .studies-active .card-img-box {
        height: inherit;
    }
    .sourcebook-active .card-body,
    .studies-active .card-body {
        min-height: auto;
    }
    .sourcebook-active .card-title {
        max-height: auto;
    }
    .sourcebook-active .card-text {
        min-height: auto;
    }

    .sourcebook-active .owl-nav .owl-prev, 
    .studies-active .owl-nav .owl-prev {
        position: initial;
    }

    .sourcebook-active .owl-nav button, 
    .studies-active .owl-nav button {
        background: none !important;
        border: none !important;
        width: initial;
        height: 20px;
        border-radius: 0px;
        box-shadow: none;
    }

    .sourcebook-active .owl-nav, 
    .studies-active .owl-nav {
        width: initial;
        top: 15px !important;
        transform: none;
    }
    .doc-widget-col-2 {
        margin-bottom: 20px;
    }
    .mobile-review-box p {
        order: -1;
    }
    p.mobile-show {
        position: relative;
        margin: 10px 0;
    }
    
    p.mobile-show:after {
        content: attr(showDetails);
        background: #f1f1f1;
        border: 1px solid #f1f1f1;
        color: #323a45;
        padding: 2px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .mobile-show.show-details:after {
        display: none;
    }
    
    .mobile-show.show-details {
        margin-top: 0;
    }
    .doc-widget-col.doc-widget-col-1 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .doc-sidebar{
        max-width: 100%;
    }
    aside.archive-sidebar {
        display: none;
    }
    .sa-doc-info {
        flex: 1;
        text-align: center;
        margin: 10px 0;
    }
    .sa-doc-tab .nav-link {
        flex-wrap: nowrap;
        width: 100%;
    }
    .sa-feedback {
        flex-direction: column;
        justify-content: start !important;
        align-items: start !important;
    }
    .sa-comment-form-email {
        width: 100%;
        margin: 15px 0;
        padding-right: 0;
    }
    .sa-comment-form-btn,.sa-comment-form-btn input {
        width: 100%;
    }
    .sa-comment-form-email,
    .sa-comment-form-option {
        padding-right: 0;
    }
    /* =============== retina landing page =================== */
    .ip-indexing-area {
        padding-left: 0 !important;
    }
    ul.lpi-level-2 {
        padding-left: 15px;
    }
    ul.lpi-level-3 {
        padding-left: 18px;
    }
    ul.lpi-level-4,
    ul.lpi-level-5 {
        padding-left: 15px;
    }
    .lp-tab .nav-link {
        white-space: normal;
        padding: 8px 20px;
        font-size: 15px;
    }
    .ip-indexing-area ul li span, 
    .ip-indexing-area ul li a {
        font-size: 16px;
    }
}
@media (max-width: 425px) {
    .lp-style-two .lp-tab .nav-link {
        flex-basis: 100%;
    }
}