/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container {
    max-width: 1440px;
    padding-left: 25px;
    padding-right: 25px;
}
a{
    text-decoration: none;
    transition: 0.3s ease;
}

p {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input:focus, 
select:focus, 
button:focus, 
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: gainsboro !important;
}
select {
    cursor: pointer;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

/* Root variable */
:root {
	/* --ss-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Merriweather Sans', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    --ss-font-primary: 'Merriweather Sans', sans-serif;

    --ss-dark: #000000;
    --ss-dark-1: #333333;
    --ss-dark-2: #555555;
    --ss-white: #ffffff;
    --ss-light-gray: #8e8e8e;
    --ss-light-gray-2: #c5c9ce;
    --ss-light-gray-3: #ddd;
    --ss-light-gray-4: #EDF2F7;
    --ss-light-gray-5: #cccccc;
    --ss-dark-gray: #7a7a7a;
    --ss-dark-gray-2: #4d4d4d;
    --ss-dark-gray-3:#666666;
    --ss-dark-gray-4: #777777;
    --ss-dark-gray-5: #656565;
    --ss-light-ash: #8EA0AD;
    --ss-light-ash-1: #CAD1DA;
    --ss-light-ash-2: #D1DBE9;

    --ss-dark-blue: #011E36;
    --ss-dark-blue-1: #3272bf;
    --ss-dark-blue-2: #007CFF;
    --ss-light-blue: #3366ff;
    --ss-light-blue-2: #66ADCC;
    --ss-light-blue-3: #d9edf7;
    
    --ss-blue: #050056;

    --ss-green: #339966;
    --ss-dark-green: #159527;
    --ss-light-brown: #e2dbbe;

    --ss-text-xss: 12px;
    --ss-text-xs: 14px;
    --ss-text-s: 16px;
    --ss-text-m: 18px;
    --ss-text-xl: 20px;
    --ss-text-xll: 24px;
    --ss-text-xlll: 34px

}

html, body{
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
}

/*================ common-css =================*/
.section-title {
    margin-bottom: 20px;
}
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* -------- bg color -------- */
.dark-bg{
    background-color: var(--ss-dark);
}
.light-gray-bg{
    background-color: var(--ss-light-gray);
}
.light-gray-bg-4 {
    background-color: var(--ss-light-gray-4);
}
.dark-gray-bg{
    background-color: var(--ss-dark-gray);
}
.blue-bg {
    background-color: var(--ss-blue);
}
.dark-blue-bg {
    background-color: var(--ss-dark-blue);
}
.light-blue-bg {
    background-color: var(--ss-light-blue);
}
.light-blue-bg-3 {
    background-color: var(--ss-light-blue-3);
}
.light-ash-bg{
    background-color: var(--ss-light-ash)
}
.light-ash-bg-1{
    background-color: var(--ss-light-ash-1)
}
.light-ash-bg-2{
    background-color: var(--ss-light-ash-2)
}
.green-bg {
    background-color: var(--ss-green);
}
.dark-green-bg {
    background-color: var(--ss-dark-green);
}
/* -------- text color -------- */
.text-white{
    color: var(--ss-white);
}
.text-dark-1 {
    color: var(--ss-dark-1);
}
.text-dark-gray {
    color: var(--ss-dark-gray);
}
.text-dark-gray-2 {
    color: var(--ss-dark-gray-2);
}
.text-dark-gray-3 {
    color: var(--ss-dark-gray-3);
}
.text-dark-gray-5 {
    color: var(--ss-dark-gray-5);
}
.text-light-gray {
    color: var(--ss-light-gray);
}
.text-light-blue {
    color: var(--ss-light-blue);
}
.text-dark-blue {
    color: var(--ss-dark-blue);
}
.text-dark-blue-1 {
    color: var(--ss-dark-blue-1);
}
.text-green {
    color: var(--ss-green);
}
.text-brown {
    color: var(--ss-brown);
}
/* ----------- text underline---- */
.text-underline {
    text-decoration: underline;
}
/* opacity */
.opacity-100{
    opacity: 0.1;
}
.opacity-200{
    opacity: 0.2;
}
.opacity-300{
    opacity: 0.3;
}
.opacity-400{
    opacity: 0.4;
}
.opacity-500{
    opacity: 0.5;
}
.opacity-600{
    opacity: 0.6;
}
.opacity-700{
    opacity: 0.7;
}
.opacity-800{
    opacity: 0.8;
}
.opacity-900{
    opacity: 0.9;
}
/* -------- font size */
.text-s {
    font-size: var(--ss-text-s);
}
.text-xs {
    font-size: var(--ss-text-xs);
}
.text-xss {
    font-size: var(--ss-text-xss);
}
.text-m {
    font-size: var(--ss-text-m);
}
.text-xl {
    font-size: var(--ss-text-xl);
}
.text-xll {
    font-size: var(--ss-text-xll);
}
.text-xlll {
    font-size: var(--ss-text-xlll);
}
/* .text-xl{
    font-size: var(--l-text-xl);
    line-height: 110%;
}
.text-s{
    font-size: var(--l-text-s);
    line-height: 24px;
}
.text-xs{
    font-size: var(--l-text-xs);
    line-height: 18px;
}
.text-xss{
    font-size: var(--l-text-xss);
    line-height: var(--l-text-s);
} */
/* --------- font weight */
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extra-bold{
    font-weight: 900;
}
/* ----------- text indent */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* -------- border -------- */
/* .border-dark-1{
    border: 1px solid var(--l-dark-5);
}
.border-dark-b1{
    border-bottom: 1px solid var(--l-dark-5);
}
.border-danger-1{
    border: 1px solid var(--l-danger-1);
} */
/* ---------- btn ---------- */
.btn-primary{
    background-color: var(--ss-dark-blue-2);
    padding: 8px 10px;
    opacity: .6;
}
.btn-custom{
    border-radius: 100px;
    font-weight: 500;
    font-size: var(--ss-text-xs);
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 16px;
}
.btn-custom__red{
    background-color: var(--l-color-red);
}
.box-shadow-none {
    box-shadow: none !important;
}

body{
    font-family: var(--ss-font-primary);
    background-color: var(--ss-white);
    font-size: var(--ss-text-s);
    -webkit-font-smoothing: antialiased;
}

.inherit-hover:hover{
    color: inherit;
}
.light-hover:hover{
    color: #fff;
}
.no-transition{
    transition: unset;
}

/* ============ header css  =================================== */
/* sticky header */
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
/* header top */
.header-top {
    padding: 2px 0;
}
.header-auth li {
    border-right: 1px solid var(--ss-dark-gray);
}
.header-auth li:last-child {
    border-right: none;
}
.header-auth li a {
    display: inline-block;
    font-size: var(--ss-text-xs);
}
.account {
    padding-right: 15px;
}
.signin {
    padding-left: 15px;
}

/* header nav */
.header-nav {
    /* padding: 10px 0; */
    box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 0 1px 0 rgb(65 71 108 / 15%);
}
.header-nav__logo img {
    max-width: 150px;
}
.header-nav__menu{
    padding-left: 35px;
    flex: 1;
}
.header-nav__menu>ul>li {
    padding-right: 35px;
}
.header-nav__menu>ul>li>a {
    padding: 20px 0;
}
.header-nav__menu>ul>li:hover {
    cursor: pointer;
}
ul.submenu li:hover {
    cursor: auto;
}
.header-nav__menu>ul>li:hover > a {
    color: var(--ss-dark-blue);
}
.header-nav__menu li {
    position: relative;
}
.header-nav__menu ul li a {
    font-size: var(--ss-text-xs);
    font-weight: 400;
    color: var(--ss-dark-gray);
    display: block;
}
.header-nav__menu ul li a:hover{
    color: var(--ss-dark-blue);
}
/* dropdown menu*/
/* angledown icon */
.topmenu a,
.topsubmenu > a,
.drawer-topmenu{
    position: relative;
}
.topmenu > a:after,
.topsubmenu > a:after,
.drawer-topmenu:after{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.topmenu > a:after {
    content: '\f107';
    right: -15px;
}

.drawer-topmenu:after {
    content: '\f105';
    color: var(--ss-light-gray);
    right: 0;
    top: 0;
    transform: inherit;
    transition: all 0.35s ease;
}
.drawer-topmenu.active:after {
    right: 0;
    top: 0;
    transform: rotate(90deg);
}
.topsubmenu > a:after {
    content: '\f105';
    right: 15px;
}
.topmenu ul {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    min-width: 200px;
    /* border-radius: 5px; */
    background-color: var(--ss-white);
    /* box-shadow: 0px 0px 5px -1px var(--ss-light-gray); */
    z-index: 999;
    transition: all 0.35s ease;
}
.header-nav__menu .topmenu ul li a{
    display: block;
    padding: 5px 15px;
}
.header-nav__menu .topmenu ul li a:hover {
    background: #eee;
}
.header-nav__menu li>a:hover>{
    color: var(--ss-dark-blue);
}
.header-nav__menu li:hover > ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}
.header-nav__menu ul.submenu {
    top: 100%;
    left: 0;
}
.header-nav__menu ul.submenu .submenu {
    top: 0;
    left: 100%;
    overflow-y: scroll;
    height: 300px;
    padding: 10px 15px;
}
/* Scrollbar css */
.submenu ::-webkit-scrollbar {
    width: 5px;
}
.submenu ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.submenu ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: var(--ss-light-gray-2); 
}
.submenu li > p {
    font-weight: 600;
}
.topsubmenu > ul.submenu {
    min-width: 278px;
}
.header-nav__menu p {
    margin: 0;
    font-size: var(--ss-text-xs);
    color: var(--ss-light-gray);
}
.header-nav__menu .disease,
.header-nav__menu .subdesease {
    padding-left: 20px;
}
.header-nav__menu .disease p a {
    /* padding: 0 !important; */
    margin-left: -15px;
}
.header-nav__menu .disease a {
    padding-left: 20px;
    /* color: var(--ss-light-blue);
    text-decoration: underline; */
}
.header-nav__menu .disease a:hover{
    /* color: var(--ss-light-blue); */
}
.header-nav__menu .disease > a {
    font-size: 13px !important;
}
.header-nav__brand-logo {
    flex: 0 0 auto;
}
/* mobile menu */
.header-nav__bar {
    cursor: pointer;
    font-size: 20px;
}
.drawer-nav {
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    width: 270px;
    position: fixed;
    top: 0;
    transform: translateX(-270px);
    transition: all 0.35s ease;
}
.drawer-nav.active {
    transform: translateX(0px);
}
.drawer-nav__logo {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.drawer-nav__logo a {
    width: 176px;
}
.drawer-menu ul li a{
    font-size: var(--ss-text-xs);
    font-weight: 400;
    color: var(--ss-dark-gray);
    padding: 3px 0;
    display: block;
}
.drawer-menu ul li > a:hover {
    color: var(--ss-dark-blue);
}
.drawer-topmenu {
    position: relative;
}
.mobile-angle-down {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: var(--ss-light-gray);
    transition: all 0.35s ease;
}
.mobile-angle.active {
    transform: rotate(90deg);
}
.drawer-topmenu ul {
    display: none;
    padding-left: 20px;
}
.drawer-nav .disease {
    padding-left: 20px;
}
.drawer-nav .disease > a {
    padding-left: 20px;
}
.menu-close {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ss-light-gray-2);
    border-radius: 3px;
    cursor: pointer;
}
/* ============ banner css  =================================== */
.banner {
    padding: 150px 0;
}
.banner-bg {
    background-image: url(../img/banner.jpg);
}

/* banner logo */
.banner__tag {
    margin: 15px 0;
}
/* search box */
.banner__search {
    max-width: 780px;
    margin: 0 auto;
}
.search-from {
    display: flex;
}
.select-arrow {
    position: relative;
}
.select-arrow:after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: #ddd;
    padding-left: 4px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.search-from input,
.search-from select,
.search-from button {
    border: none;
    padding: 7px 10px;
}
.search-select {
    background-color: #ddd;
    color: var(--ss-dark-blue);
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
}
.search-input {
    flex: 1;
}
.search-submit {
    flex: 0 0 auto;
    width: 50px;
}
@media (max-width: 425px) {
    .search-select {
        max-width: 5rem;
    }
    .search-input {
        max-width: 72%;
    }
}
@media (max-width: 375px) {
    .search-input {
        max-width: 61%;
    }
}
/* ============ sourcebook css  =================================== */
.sourcebook {
    padding: 50px 0;
}
/* sourcebook tab */
.sourcebook-tab .nav-link,
.studies-tab .nav-link,
.lp-tab .nav-link{
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    white-space: nowrap;
    transition: all 0.35s ease;
    position: relative;
}
.sourcebook-tab .nav-link,
.studies-tab .nav-link{
    font-size: 15px;
}
.lp-tab .nav-link{
    font-size: 16px;
}
.sourcebook-tab .nav-link,
.studies-tab .nav-link{
    color: var(--ss-dark-blue);
}
.lp-tab .nav-link {
    color: var(--ss-dark-gray);
    max-width: 100%;
    flex-basis: 0%;
}
.sourcebook-tab .nav-link,
.lp-tab .nav-link {
    padding: 8px 30px;
}
.studies-tab .nav-link {
    padding: 8px 15px;
}
.sourcebook-tab .nav-link::before, 
.studies-tab .nav-link::before,
.lp-tab .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--ss-dark-blue);
    top: 100%;
    left: 0;
    -webkit-transform: scaleX();
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    transition: transform 0.2s ease;
}
.sourcebook-tab .nav-link.active::before,
.studies-tab .nav-link.active::before,
.lp-tab .nav-link.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--ss-dark-blue);
    top: 100%;
    left: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
/* .sourcebook-tab .nav-link:first-child:before{
    background: transparent;
} */
.sourcebook-tab .nav-link.active, 
.studies-tab .nav-link.active {
    background: var(--ss-light-gray-4);
}
.subtitle-wrapper h2 {
    display: none;
}
.subtitle-wrapper h2.active{
    display: block;
}
.tab-viewall {
    background: var(--ss-dark-blue);
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    text-align: center;
}
.tab-viewall:hover {
    color: #fff;
}

/* .sourcebook-tab .nav-link.active::before{
    right: 100%;
    visibility: visible;
    opacity: 1;
} */
/*
.sourcebook-tab .nav-link:hover {
    background-color: var(--ss-light-blue-2);
    color: var(--ss-white);
}
.sourcebook-tab .nav-link:hover::before{
    background: transparent;
} */
@media (max-width: 600px) {
    /* .sourcebook-tab .nav {
        flex-wrap: nowrap;
        overflow: auto;
    } */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sourcebook-tab .nav,
    .studies-tab .nav {
        flex-direction: column;
    }
    .studies-tab nav {
        padding: 0 !important;
    }
    .sourcebook-tab .nav-link.active::before, 
    .studies-tab .nav-link.active::before {
        height: 0;
    }
    .sourcebook-tab .nav .nav-link,
    .studies-tab .nav .nav-link {
        background: black !important;
        color: #fff;
        display: none;
    }
    .studies-tab .nav-link {
        margin-bottom: 0 !important;
    }
    .sourcebook-tab .nav-link,
    .studies-tab .nav-link {
        font-size: 14px;
    }
    .sourcebook-tab .nav-link.active,
    .studies-tab .nav-link.active {
        display: block;
    }
    .sourcebook-tab .nav.popup .nav-link,
    .studies-tab .nav.popup .nav-link {
        display: block;
    }
    .sourcebook-tab .nav,
    .studies-tab .nav {
        position: relative;
    }
    .sourcebook-tab .nav:after,
    .studies-tab .nav:after {
        content: '\f107';
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #fff;
        position: absolute;
        top: 20px;
        transform: translateY(-50%);
        right: 16px;
    }
    .nav.popup:after {
        transform: rotate(-180deg);
        transform-origin: 54% 25%;
    }
    .tab-scroll-btn {
        display: none;
    }
    .studies-tab nav {
        padding: 0;
    }
}
/* sourcebook carousel */
.sourcebook-active,
.studies-active {
    padding: 20px 0 0;
}
.sourcecard-wrapper {
    padding: 7px 0 0;
    max-width: 266px;
    width: 100%;
    overflow: hidden;
}
.sourcebook-card {
    overflow: hidden;
}
.sourcebook-active .card-img-box {
    overflow: hidden;
    height: 245px;
    display: flex;
}
.studies-active .card-img-box {
    height: 170px;
    background: var(--ss-light-blue-3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sourcebook-active .card-img-box img {
    object-fit: cover;
}
.sourcebook-active .card-title {
    /* min-height: 72px; */
    /* font-size: 1rem !important; */
    max-height: 73.22px;
}
.studies-active .card-title {
    font-size: 1.15rem;
    font-weight: 400 !important;
    text-align: center;
}
.sourcebook-card .card-title a {
    color: var(--ss-dark-blue);
}
.sourcebook-card .card-title a:hover {
    color: var(--ss-dark-blue);
}
.studies-active .card-text {
    /* min-height: 144px; */
    min-height: 96px;
    font-size: 15px;
}
.sourcecard-wrapper {
    cursor: pointer;
    transition: all 0.45s ease;
}
.sourcecard-wrapper:hover {
    /* transform: translateY(-7px); */
    margin-top: -7px;
    transition: all 0.45s ease;
}
/* .sourcecard-wrapper img {
    overflow: hidden;
    object-fit: cover;
    transition: all 0.35s ease;
} */
.sourcecard-wrapper:hover img {
    transform: scale(1.03);
    transition: all 0.45s ease;
}
.sourcecard-wrapper:hover .card-body {
    /* transform: translateY(7px); */
    /* transition: all 0.35s ease; */
}
.sourcebook-active .card-body {
    /* min-height: 208px; */
    min-height: 232px;
}
.studies-active .card-body {
    min-height: 175px;
}
.sourcebook-active .owl-item,
.studies-active .owl-item {
    margin-right: 15px !important;
}
.sourcebook-active .owl-stage,
.studies-active .owl-stage {
    display: flex !important;
}
/* sourcebook carosel btn */
.sourcebook-active .owl-nav,
.studies-active .owl-nav {
    display: block !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 9999;
}
.sourcebook-active .owl-nav button,
.studies-active .owl-nav button {
    /* border: 2px solid var(--ss-light-ash) !important; */
    /* border: 0.0625rem solid #d8d9db !important; */
    border: 0.0625rem solid var(--ss-light-gray-2) !important;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--ss-white) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.125rem 0.5rem hsl(0deg 0% 60% / 40%);
}
.sourcebook-active .owl-nav button:hover,
.studies-active .owl-nav button:hover {
    border-color: var(--ss-dark-blue) !important;
}
.sourcebook-active .owl-nav button span,
.studies-active .owl-nav button span {
    color: var(--ss-dark-blue);
    font-size: 23px;
    vertical-align: middle;
    font-weight: 600;
}
.sourcebook-active .owl-nav .owl-prev,
.studies-active .owl-nav .owl-prev {
    left: -20px;
    position: absolute;
}
.sourcebook-active .owl-nav .owl-next,
.studies-active .owl-nav .owl-next {
    right: -20px;
    position: absolute;
}
/* ============ sourcebook inner page css  =================================== */
/* main doc */
.doc-main {
    width: calc(100% - 280px);
    flex: 0 0 calc(100% - 280px);
    max-width: 100%;
}
.doc-header-link-right ul li a {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 5px;
    transition: all 0.35s ease;
}
.doc-header-link-right ul li {
    padding-left: 15px;
}
.doc-header-forumlink a:hover,
.doc-header-submitcontent a:hover {
    background: #7A7A7A;
}
.doc-index-menubtn {
    display: none;
}
.doc-index-menubtn span {
    position: relative;
    cursor: pointer;
}
.doc-index-menubtn span:after {
    content: '\f105';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    top: -3px;
    left: calc(100% + 10px);
    transition: auto;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateX(8px);
    }
}
.doc-main-left {
    width: 100%;
    max-width: 23%;
    flex: 0 0 23%;
}
.doc-main-tab {
    position: sticky;
    top: 90px;
}
.doc-index ul li {
    padding: 9px 7px;
    border-bottom: 1px solid var(--ss-light-gray-3);
    cursor: pointer;
    position: relative;
}
.doc-index ul li a,
.doc-sidebar-list-item a {
    font-size: 15px;
}
.doc-index ul li a:hover {
    color: var(--ss-dark-blue);
}
/* .doc-index ul li.active a {
    color: var(--ss-dark-blue);
} */
.doc-index ul li.active_menu > a {
    color: var(--ss-dark-blue);
}
.doc-dropdown ul {
    display: none;
}
.doc-dropdown ul.active {
    display: block;
}
.doc-dropdown ul li {
    border-bottom: none;
    padding: 2px 0px 2px 7px;
}
ol.reference-list .ref_active {
    color: blue;
}
/* .doc-dropdown ul li:nth-child(1) {
    padding-left: 7px;
} */
/* .doc-dropdown ul li:nth-child(2),
.doc-dropdown ul li:nth-child(14),
.doc-dropdown ul li:nth-child(4),
.doc-dropdown ul li:nth-child(9),
.doc-dropdown ul li:nth-child(11) {
    padding-left: 14px;
}
.doc-dropdown ul li:nth-child(5),
.doc-dropdown ul li:nth-child(8),
.doc-dropdown ul li:nth-child(10),
.doc-dropdown ul li:nth-child(12){
    padding-left: 21px;
}
.doc-dropdown ul li:nth-child(6),
.doc-dropdown ul li:nth-child(7) {
    padding-left: 28px;
} */
.doc-dropdown ul li a {
    font-size: var(--ss-text-xs);
}
.doc-index-item:hover {
    color: var(--ss-dark-blue);
}
/* close btn */
.doc-index-close {
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 999;
    cursor: pointer;
}
.doc-index-close i {
    font-size: 20px;
    color: var(--ss-dark-blue);
}
.doc-index {
    position: relative;
}
/* 
* uses for sticky header 
*/
.doc-scrollspy > div {
    position: relative;
}
.doc-main-content {
    width: 100%;
    max-width: 77%;
    flex: 0 0 77%;
}
.doc-widget-col {
    padding: 10px;
}
.doc-widget-col-1 {
    flex: 0 0 20%;
    max-width: 20%;
}
/* .doc-widget-col-1 strong {
    color: #339966;
} */
.doc-widget-col-2 {
    flex: 1;
    border-left: 2px solid var(--ss-light-gray-3);
    border-right: 2px solid var(--ss-light-gray-3);
    border-bottom: 2px solid var(--ss-light-gray-3);
    padding-bottom: 60px;
}
.collapsible {
    display: none;
}
.doc-content.active .collapsible {
    display: block;
}
.doc-content.active i {
    transform: rotate(-180deg);
}

.doc-content-title {
    position: relative;
    cursor: pointer;
    background: #DDDDDD;
    padding: 0px 10px;
    border-bottom: 1px solid #fff;
}
.doc-detail-btn {
    width: 100%;
    text-align: left;
    padding: 0;
    background: transparent;
    border: none;
}
.doc-detail-btn span {
    padding-left: 15px;
}
.doc-detail-btn:focus {
    background: transparent;
    box-shadow: none;
}
.doc-detail-btn:before{
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-weight: 900;
    color: var(--ss-dark-blue);
    position: absolute;
    transition: transform 0.35s ease;
}
.doc-detail-btn.active:before {
    transform: rotate(-180deg);
}
.doc-detail-btn .accordion-body ul {
    list-style-type: disc;
}
.doc-detail .accordion-body ul {
    list-style-type: disc;
}
.doc-detail .accordion-body ul li ul {
    list-style-type: circle;
    padding-left: 20px;
}
.doc-detail-table {
    width: 100%;
}
.doc-detail-table thead th {
    background: var(--ss-light-blue-3);
    font-size: var(--ss-text-xss);
    padding: 8px;
}
.doc-detail-table tbody td {
    font-size: var(--ss-text-xss);
    padding: 8px;
}
.doc-detail-table tbody tr {
    border-bottom: 1px solid var(--ss-light-gray-3);
}
.doc-detail-table tbody tr:last-child {
    border-bottom: none;
}
/* make clickable */
.doc-widget-text a,
.doc-widget-link a,
.doc-detail{
    position: relative;
    z-index: 9;
}
.doc-widget-col-3 {
    flex: 0 0 20%;
    max-width: 20%;
    border-right: 2px solid var(--ss-light-gray-3);
    border-bottom: 2px solid var(--ss-light-gray-3);
}
/* doc sidebar */
.doc-sidebar {
    max-width: 280px;
    flex: 0 0 280px;
    margin-top: 60px;
}
.doc-sidebar-wrapper {
    padding: 10px;
}
.doc-sidebar-list {
    border-bottom: 1px solid var(--ss-light-gray-3);
    padding: 5px 0;
}
.doc-sidebar-list:last-child{
    padding-bottom: 0;
    border-bottom: none;
}
.doc-sidebar-list-item a:hover {
    color: var(--ss-dark-blue);
}



/* ============ source archive page css  =================================== */
.archive-sidebar {
    flex: 0 0 30%;
    max-width: 400px;
}
.sa-sidebar-item-title {
    color: #3f5876;
    padding: 20px 20px;
    cursor: pointer;
}
.sa-sidebar-item.active .sa-sidebar-item-title {
    border-right: 3px solid var(--ss-dark-blue);
}
.sa-sidebar-item-title {
    color: #3f5876;
    padding: 20px 20px;
    cursor: pointer;
}
.sa-sidebar-item-content {
    padding: 0px 20px;
    display: none;
}
.sa-sidebar-item-content ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.sa-sidebar-item a {
    font-size: 14px;
    color: #566e8b;
}
.sa-sidebar-item  a:hover {
    color: #528fff;
}
.arrow-right,
.arrow-down {
    margin-right: 5px;
}
.arrow-down,
.arrow-right {
    display: none;
}
.arrow-right.active,
.arrow-down.active {
    display: block;
}
.sa-sidebar-subitem-title {
    font-size: 14px;
    color: #566e8b;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}
.sa-sidebar-subitem-title a {
    padding-left: 5px;
}
.sa-sidebar-subitem-content {
    display: none;
}
.level-2 {
    padding-left: 20px;
}
.level-3 {
    padding-left: 23px;
}
/**
 * show content when page loaded
*/
.sa-sidebar-item.active .sa-sidebar-item-content {
    display: block;
}
div.sa-sidebar-subitem-title.active + div.sa-sidebar-subitem-content {
    display: block;
}

.archive-docs {
    flex: 1 1 70%;
    max-width: 100%;
}
.sa-breadcrumb a:hover {
    color: var(--ss-dark-gray);
}
.sa-breadcrumb li.active {
    color: #2b6cb0;
}
.sa-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: '\f105';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--ss-dark-gray);
    opacity: .5;
    font-size: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sa-title h1 {
    font-size: 36px;
    color: var(--ss-dark-blue);
    text-transform: uppercase;
    letter-spacing: .035em;
    margin: 10px auto;
    padding-bottom: 40px;
}
.sa-line hr {
    background: #4d4d4d;
    margin: 25px 10px;
    opacity: 1;
}
.sa-doc-widget {
    padding: 10px;
    box-shadow: 0px 0px 1px 0px;
}
.sa-doc-widget-year {
    flex: 0;
    margin-right: 10%;
}
.sa-doc-widget-info p {
    color: #0034a1;
}
.sa-doc-title p {
    margin: 10px 0 20px;
}
.sa-doc-authors {
    flex: 1 0 75%;
    max-width: 560px;
}
.sa-doc-info {
    flex: 0 0 25%;
    background-color: #eef5db;
    padding: 5px;
}
.sa-doc-tab .nav-link.active {
    background: var(--ss-dark-blue);
    color: #fff;
}

.sa-doc-tab .nav-link {
    border: 0;
    border-radius: 0;
    text-align: center;
    flex: 1 1 auto;
    padding: 5px 1rem;
    background: var(--ss-light-gray-4);
}

.sa-doc-tab .nav-link:hover {
    background: var(--ss-dark-blue);
    color: #fff;
}
.tabcontent ul {
    list-style-type: disc;
    padding-left: 35px;
}
.tabcontent {
    color: #333333;
}
.sa-socialshare {
    margin: 45px 0;
}
.sa-socialshare-text p {
    color: #566e8b;
}
.sa-socialshare-links li {
    padding: 0 8px;
}

.sa-socialshare-links li a {
    display: inline-block;
}
.sa-socialshare-links li a img {
    width: 30px;
    height: 30px;
}
.sa-feedback {
    margin-bottom: 50px;
}
.sa-feedback-form a,
.sa-feedback-update span {
    color: #566e8b;
    font-size: 14px;
}
.sa-feedback-update span {
    font-style: italic;
}
.sa-feedback-modal .modal-title {
    font-size: 27px;
    color: #3f5876;
    line-height: 35px;
}
.sa-feedback-modal .modal-header {
    border-bottom: none;
    align-items: start;
}
.sa-feedback-modal label {
    font-size: 15px;
    color: #7e8da2;
}
.sa-feedback-modal input:focus,
.sa-feedback-modal textarea:focus,
.sa-feedback-modal button:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
}
.sa-feedback-modal .modal-footer button {
    background: #528ffe;
    border-radius: 100px;
    padding: 6px 21px;
    border: none;
}
.sa-doc-navigation a {
    color: #566e8b;
    font-weight: 600;
}
.sa-doc-navigation svg {
    width: 15px;
}
.sa-comment-btn {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--ss-light-gray-3);
}
.sa-comment-btn-subscribe {
    cursor: pointer;
}
.sa-comment-form {
    padding: 22px 0px 5px 0px;
    margin-bottom: 10px;
    display: none;
}
.sa-comment-form-option {
    flex-grow: 1;
    font-size: 13px;
    padding-right: 5px;
}
.sa-comment-form-email {
    width: 30%;
    font-size: 14px;
    padding: 0px 5px  0px 0px;
}
.sa-comment-form-btn {
    font-size: 14px;
    display: block;
}
.sa-comment-form-btn input {
    padding: 2px 15px;
    font-size: 16px;
    border: none;
}
.sa-comment-form-option select {
    width: 100%;
    padding: 3px;
    height: 28px;
    color: var(--ss-dark-gray-4);
}
.sa-comment-form-email input {
    width: 100%;
    padding: 3px;
    height: 28px;
}
.sa-comment-form select,
.sa-comment-form input {
    border: 1px solid var(--ss-light-gray-3);
}
.sa-comment-threads {
    margin: 40px 0;
}
.sa-comment-threads-head {
    padding: 5px 0px;
    border-bottom: 2px solid var(--ss-light-gray-5);
}
.sa-comment-threads-head p {
    padding: 5px 7px;
    margin-bottom: -7px;
    border-bottom: 2px solid var(--ss-dark-blue);
    font-weight: 600;
}

/* ============ retina landing page css  =================================== */
.lp-breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    opacity: 1;
}
.lp-content-left {
    flex: 0 0 17%;
}
.lp-content-right {
    flex: 1;
}
.lp-index {
    padding: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}
.ip-indexing-area ul li span, 
.ip-indexing-area ul li a {
    font-size: 18px;
    color: var(--ss-dark-gray-5);
    margin: 5px 0;
    display: inline-block;
}
.ip-indexing-area ul li a {
    text-decoration: underline;
}
.ip-indexing-area ul li a:hover {
    color: var(--ss-light-blue) !important;
}
ul.lpi-level-2 {
    padding-left: 40px;
}
ul.lpi-level-3 {
    padding-left: 40px;
}
.lp-tab-content-box {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    border-radius: 15px;
    padding: 20px;
    height: 100%;
}

.lp-tab-content-box ul {
    padding-left: 15px;
    padding-top: 8px;
}

.lp-tab-content-box ul li a {
    color: var(--ss-dark-blue);
    margin: 5px 0;
    transition: all 0.35s ease;
}

.lp-tab-content-box ul li a:hover {
    color: var(--ss-light-blue);
}
.lp-tab-content-list ul {
    padding-bottom: 15px;
}
.lp-tab-content-list ul li {
    word-break: break-all;
}
.lp-tab-content-list a {
    display: inline-block;
}
.bg-orinoco {
    background-color: #D5D6AA;
}
.bg-coconut {
    background-color: #e2dbbe;
}
.bg-skeptic {
    background-color: #9DBBAE;
}
figure.lp-tab-content-img-box {
    margin-bottom: 0;
    width: 20%;
    margin-right: 15px;
    flex: 0 0 auto;
}
figure.lp-tab-content-img-box a {
    display: block;
    height: 100%;
}
/* ============ register page css  =================================== */
.register {
    padding: 60px 15px 0px;
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.register-logo img {
    width: 300px;
}
.password-box {
    position: relative;
}
.password-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 10px;
    color: var(--ss-dark-blue-2);
    font-size: 12px;
    cursor: pointer;
}
.password-box i.fa-eye {
    display: none;
}
.interest {
    height: 45px;
}
/* .register-form input:focus,
.register-form button:focus,
.register-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: gainsboro;
} */
/* ============ footer css  =================================== */
.footer {
    padding: 40px 0;
}
.footer-logo img {
    max-width: 150px;
}
.copyright {
    margin-top: 10px;
}







.studies-tab nav {
    /* min-height: 42px; */
    position: relative;
    padding: 0 15px;
}

.studies-tab .nav {
    
    overflow: hidden;
    flex-wrap: nowrap;
}
.studies-tab .nav-link {
    margin-bottom: 3px;
}

.tab-scroll-btn span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 4px;
    cursor: pointer;
}
.tab-scroll-btn span {
    /* width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid var(--ss-dark-blue); */
}
.scroll-next {
    right: -3px;
}

.scroll-prev {
    left: -3px;
}

.studies-tab button {
    position: relative;
}

.mobile-review-box strong{
    line-height: 2;
    display: inline-block;
}