/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container {
    max-width: 1440px;
    padding-left: 25px;
    padding-right: 25px;
}
a{
    text-decoration: none;
    display: block;
}

p {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input, select,button:focus {
    outline: none;
    
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

/* Root variable */
:root {
	/* --ss-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Merriweather Sans', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    --ss-font-primary: 'Merriweather Sans', sans-serif;

    --ss-dark: #000000;
    --ss-white: #ffffff;
    --ss-light-gray: #8e8e8e;
    --ss-light-gray-2: #c5c9ce;
    --ss-light-gray-3: #ddd;
    --ss-light-gray-4: #EDF2F7;
    --ss-dark-gray: #7a7a7a;
    --ss-light-ash: #8EA0AD;
    --ss-light-ash-1: #CAD1DA;

    --ss-dark-blue: #011E36;
    --ss-light-blue: #3366ff;
    --ss-light-blue-2: #66ADCC;

    --ss-text-xss: 12px;
    --ss-text-xs: 14px;
    --ss-text-s: 16px;
    --ss-text-m: 18px;
    --ss-text-xl: 20px;
    --ss-text-xll: 24px;
    --ss-text-xll: 34px

}

html, body{
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
}

/*================ common-css =================*/
.section-title {
    margin-bottom: 20px;
}
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* -------- bg color -------- */
.dark-bg{
    background-color: var(--ss-dark);
}
.light-gray-bg{
    background-color: var(--ss-light-gray);
}
.light-gray-bg-4 {
    background-color: var(--ss-light-gray-4);
}
.dark-gray-bg{
    background-color: var(--ss-dark-gray);
}
.dark-blue-bg {
    background-color: var(--ss-dark-blue);
}
.light-ash-bg{
    background-color: var(--ss-light-ash)
}
.light-ash-bg-1{
    background-color: var(--ss-light-ash-1)
}
/* -------- text color -------- */
.text-white{
    color: var(--ss-white);
}
.text-light-gray {
    color: var(--ss-light-gray);
}
.text-light-blue {
    color: var(--ss-light-blue);
}
.text-dark-blue {
    color: var(--ss-dark-blue);
}
/* ----------- text underline---- */
.text-underline {
    text-decoration: underline;
}
/* opacity */
.opacity-100{
    opacity: 0.1;
}
.opacity-200{
    opacity: 0.2;
}
.opacity-300{
    opacity: 0.3;
}
.opacity-400{
    opacity: 0.4;
}
.opacity-500{
    opacity: 0.5;
}
.opacity-600{
    opacity: 0.6;
}
.opacity-700{
    opacity: 0.7;
}
.opacity-800{
    opacity: 0.8;
}
.opacity-900{
    opacity: 0.9;
}
/* -------- font size */
.text-xll {
    font-size: var(--ss-text-xll);
}
.text-m {
    font-size: var(--ss-text-m);
}
.text-xs {
    font-size: var(--ss-text-xs);
}
.text-xss {
    font-size: var(--ss-text-xss);
}
/* .text-xl{
    font-size: var(--l-text-xl);
    line-height: 110%;
}
.text-s{
    font-size: var(--l-text-s);
    line-height: 24px;
}
.text-xs{
    font-size: var(--l-text-xs);
    line-height: 18px;
}
.text-xss{
    font-size: var(--l-text-xss);
    line-height: var(--l-text-s);
} */
/* --------- font weight */
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extra-bold{
    font-weight: 900;
}
/* ----------- text indent */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* -------- border -------- */
/* .border-dark-1{
    border: 1px solid var(--l-dark-5);
}
.border-dark-b1{
    border-bottom: 1px solid var(--l-dark-5);
}
.border-danger-1{
    border: 1px solid var(--l-danger-1);
} */
/* ---------- btn ---------- */
.btn-primary{
    background-color: var(--ss-dark-blue);
    padding: 8px 10px;
}
.btn-custom{
    border-radius: 100px;
    font-weight: 500;
    font-size: var(--ss-text-xs);
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 16px;
}
.btn-custom__red{
    background-color: var(--l-color-red);
}

body{
    font-family: var(--ss-font-primary);
    background-color: var(--ss-white);
    font-size: var(--ss-text-s);
    -webkit-font-smoothing: antialiased;
}

.inherit-hover:hover{
    color: inherit;
}
.light-hover:hover{
    color: #fff;
}
.no-transition{
    transition: unset;
}

/* ============ header css  =================================== */
/* sticky header */
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
/* header top */
.header-top {
    padding: 2px 0;
}
.header-auth li {
    border-right: 1px solid var(--ss-dark-gray);
}
.header-auth li:last-child {
    border-right: none;
}
.header-auth li a {
    display: inline-block;
    font-size: var(--ss-text-xs);
}
.account {
    padding-right: 15px;
}
.signin {
    padding-left: 15px;
}

/* header nav */
.header-nav {
    /* padding: 10px 0; */
    box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 0 1px 0 rgb(65 71 108 / 15%);
}
.header-nav__logo img {
    max-width: 150px;
}
.header-nav__menu{
    padding-left: 35px;
    flex: 1;
}
.header-nav__menu>ul>li {
    padding-right: 35px;
}
.header-nav__menu>ul>li>a {
    padding: 20px 0;
}
.header-nav__menu>ul>li:hover {
    cursor: pointer;
}
ul.submenu li:hover {
    cursor: auto;
}
.header-nav__menu>ul>li:hover > a {
    color: var(--ss-dark-blue);
}
.header-nav__menu li {
    position: relative;
}
.header-nav__menu ul li a {
    font-size: var(--ss-text-xs);
    font-weight: 400;
    color: var(--ss-dark-gray);
}
.header-nav__menu ul li a:hover{
    color: var(--ss-dark-blue);
}
/* dropdown menu*/
/* angledown icon */
.topmenu a,
.topsubmenu > a,
.drawer-topmenu{
    position: relative;
}
.topmenu > a:after,
.topsubmenu > a:after,
.drawer-topmenu:after{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.topmenu > a:after {
    content: '\f107';
    right: -15px;
}

.drawer-topmenu:after {
    content: '\f105';
    color: var(--ss-light-gray);
    right: 0;
    top: 0;
    transform: inherit;
    transition: all 0.35s ease;
}
.drawer-topmenu.active:after {
    right: 0;
    top: 0;
    transform: rotate(90deg);
}
.topsubmenu > a:after {
    content: '\f105';
    right: 15px;
}
.topmenu ul {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    min-width: 200px;
    /* border-radius: 5px; */
    background-color: var(--ss-white);
    /* box-shadow: 0px 0px 5px -1px var(--ss-light-gray); */
    z-index: 999;
    transition: all 0.35s ease;
}
.header-nav__menu .topmenu ul li a{
    display: block;
    padding: 5px 15px;
}
.header-nav__menu .topmenu ul li a:hover {
    background: #eee;
}
.header-nav__menu li>a:hover>{
    color: var(--ss-dark-blue);
}
.header-nav__menu li:hover > ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}
.header-nav__menu ul.submenu {
    top: 100%;
    left: 0;
}
.header-nav__menu ul.submenu .submenu {
    top: 0;
    left: 100%;
    overflow-y: scroll;
    height: 300px;
    padding: 10px 15px;
}
/* Scrollbar css */
.submenu ::-webkit-scrollbar {
    width: 5px;
}
.submenu ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.submenu ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: var(--ss-light-gray-2); 
}
.header-nav__menu p {
    margin: 0;
    font-size: var(--ss-text-xs);
    color: var(--ss-light-gray);
}
.header-nav__menu .disease,
.header-nav__menu .subdesease {
    padding-left: 20px;
}
.header-nav__menu .disease p a {
    /* padding: 0 !important; */
    margin-left: -15px;
}
.header-nav__menu .disease a {
    padding-left: 20px;
    /* color: var(--ss-light-blue);
    text-decoration: underline; */
}
.header-nav__menu .disease a:hover{
    /* color: var(--ss-light-blue); */
}
.header-nav__brand-logo {
    flex: 0 0 auto;
}
/* mobile menu */
.header-nav__bar {
    cursor: pointer;
    font-size: 20px;
}
.drawer-nav {
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    width: 270px;
    position: fixed;
    top: 0;
    transform: translateX(-270px);
    transition: all 0.35s ease;
}
.drawer-nav.active {
    transform: translateX(0px);
}
.drawer-nav__logo {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.drawer-nav__logo a {
    width: 176px;
}
.drawer-menu ul li a{
    font-size: var(--ss-text-xs);
    font-weight: 400;
    color: var(--ss-dark-gray);
    padding: 3px 0;
    display: block;
}
.drawer-menu ul li > a:hover {
    color: var(--ss-dark-blue);
}
.drawer-topmenu {
    position: relative;
}
.mobile-angle-down {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: var(--ss-light-gray);
    transition: all 0.35s ease;
}
.mobile-angle.active {
    transform: rotate(90deg);
}
.drawer-topmenu ul {
    display: none;
    padding-left: 20px;
}
.drawer-nav .disease {
    padding-left: 20px;
}
.drawer-nav .disease > a {
    padding-left: 20px;
}
.menu-close {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ss-light-gray-2);
    border-radius: 3px;
    cursor: pointer;
}
/* ============ banner css  =================================== */
.banner {
    padding: 150px 0;
}
.banner-bg {
    background-image: url(../img/banner.jpg);
}

/* banner logo */
.banner__tag {
    margin: 15px 0;
}
/* search box */
.banner__search {
    max-width: 780px;
    margin: 0 auto;
}
.search-from {
    display: flex;
}
.select-arrow {
    position: relative;
}
.select-arrow:after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: #ddd;
    padding-left: 4px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.search-from input,
.search-from select,
.search-from button {
    border: none;
    padding: 7px 10px;
}
.search-select {
    background-color: #ddd;
    color: var(--ss-dark-blue);
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
}
.search-input {
    flex: 1;
}
.search-submit {
    flex: 0 0 auto;
    width: 50px;
}
@media (max-width: 425px) {
    .search-select {
        max-width: 5rem;
    }
    .search-input {
        max-width: 72%;
    }
}
@media (max-width: 375px) {
    .search-input {
        max-width: 61%;
    }
}
/* ============ sourcebook css  =================================== */
.sourcebook {
    padding: 50px 0;
}
/* sourcebook tab */
.sourcebook-tab .nav-link {
    font-size: 15px;
    padding: 8px 15px;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    color: var(--ss-dark-blue);
    white-space: nowrap;
    transition: all 0.35s ease;
    position: relative;
}
.sourcebook-tab .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--ss-dark-blue);
    top: 100%;
    left: 0;
    -webkit-transform: scaleX();
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    transition: transform 0.2s ease;
}
.sourcebook-tab .nav-link.active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--ss-dark-blue);
    top: 100%;
    left: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
/* .sourcebook-tab .nav-link:first-child:before{
    background: transparent;
} */
.sourcebook-tab .nav-link.active {
    background: var(--ss-light-gray-4);
}

/* .sourcebook-tab .nav-link.active::before{
    right: 100%;
    visibility: visible;
    opacity: 1;
} */
/*
.sourcebook-tab .nav-link:hover {
    background-color: var(--ss-light-blue-2);
    color: var(--ss-white);
}
.sourcebook-tab .nav-link:hover::before{
    background: transparent;
} */
@media (max-width: 990px) {
    .sourcebook-tab .nav {
        flex-wrap: nowrap;
        overflow: auto;
    }
}
/* sourcebook carousel */
.sourcebook-active {
    padding: 20px 0 0;
}
.sourcecard-wrapper {
    padding: 7px 0 0;
}
.sourcebook-card {
    overflow: hidden;
}
.card-img-box {
    overflow: hidden;
}
.sourcecard-wrapper a:hover {
    /* transform: translateY(-7px); */
    margin-top: -7px;
    transition: all 0.35s ease;
}
.sourcecard-wrapper img {
    overflow: hidden;
    object-fit: cover;
    /* height: 40vh; */
    transition: all 0.35s ease;
}
.sourcecard-wrapper a:hover img {
    transform: scale(1.05);
    transition: all 0.35s ease;
}
.sourcecard-wrapper a:hover .card-body {
    /* transform: translateY(7px); */
    transition: all 0.35s ease;
}
.sourcebook-card .card-body {
    min-height: 208px;
}
/* sourcebook carosel btn */
.sourcebook-active .owl-nav {
    display: block !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 9999;
}
.sourcebook-active .owl-nav button {
    /* border: 2px solid var(--ss-light-ash) !important; */
    /* border: 0.0625rem solid #d8d9db !important; */
    border: 0.0625rem solid var(--ss-light-gray-2) !important;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--ss-white) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.125rem 0.5rem hsl(0deg 0% 60% / 40%);
}
.sourcebook-active .owl-nav button:hover {
    border-color: var(--ss-dark-blue) !important;
}
.sourcebook-active .owl-nav button span {
    color: var(--ss-dark-blue);
    font-size: 23px;
    vertical-align: middle;
    font-weight: 600;
}
.sourcebook-active .owl-nav .owl-prev {
    left: -20px;
    position: absolute;
}
.sourcebook-active .owl-nav .owl-next {
    right: -20px;
    position: absolute;
}
/* ============ sourcebook inner page css  =================================== */
/* main doc */
.doc-main {
    width: calc(100% - 330px);
    flex: 0 0 calc(100% - 330px);
    max-width: 100%;
}
.doc-main-left {
    width: 100%;
    max-width: 20%;
    flex: 0 0 20%;
}
.doc-index ul li {
    padding: 9px 7px;
    border-bottom: 1px solid var(--ss-light-gray-3);
    cursor: pointer;
    position: relative;
}
.doc-index ul li a {
    font-size: 15px;
}
.doc-index ul li a:hover {
    color: var(--ss-dark-blue);
}
.doc-index ul li.active a {
    color: var(--ss-dark-blue);
}
.doc-dropdown ul {
    /* display: none; */
}
.doc-dropdown ul li:last-child {
    border-bottom: none;
}
.doc-dropdown ul li {
    padding-left: 0px;
    padding-right: 0px;
}
.doc-dropdown ul li a:nth-child(2) {
    padding-left: 8px;
}
.doc-dropdown ul li a:nth-child(3) {
    padding-left: 16px;
}
.doc-index-item:hover {
    color: var(--ss-dark-blue);
}
/* 
* uses for sticky header 
*/
.doc-scrollspy > div {
    position: relative;
}
.doc-scrollspy > div:before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}
.doc-main-content {
    width: 100%;
    max-width: 80%;
    flex: 0 0 80%;
}
.doc-widget-col {
    padding: 10px;
}
.doc-widget-col-1 {
    flex: 0 0 20%;
    max-width: 20%;
}
.doc-widget-col-1 strong {
    color: #339966;
}
.doc-widget-col-2 {
    flex: 1;
    border-left: 2px solid var(--ss-light-gray-3);
    border-right: 2px solid var(--ss-light-gray-3);
    border-bottom: 2px solid var(--ss-light-gray-3);
    padding-bottom: 60px;
}
.doc-detail-btn {
    width: 100%;
    text-align: left;
    padding: 0;
    background: transparent;
    border: none;
}
.doc-detail-btn span {
    padding-left: 15px;
}
.doc-detail-btn:focus {
    background: transparent;
    box-shadow: none;
}
.doc-detail-btn:before{
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-weight: 900;
    color: var(--ss-light-gray);
    position: absolute;
    transition: transform 0.35s ease;
}
.doc-detail-btn.active:before {
    transform: rotate(-180deg);
}
.doc-detail-btn .accordion-body ul {
    list-style-type: disc;
}

/* make clickable */
.doc-widget-text a,
.doc-widget-link a,
.doc-detail{
    position: relative;
    z-index: 9;
}
.doc-widget-col-3 {
    flex: 0 0 20%;
    max-width: 20%;
    border-right: 2px solid var(--ss-light-gray-3);
    border-bottom: 2px solid var(--ss-light-gray-3);
}
/* doc sidebar */
.doc-sidebar {
    max-width: 330px;
    flex: 0 0 330px;
}
/* ============ footer css  =================================== */
.footer {
    padding: 40px 0;
}
.footer-logo img {
    max-width: 150px;
}
.copyright {
    margin-top: 10px;
}




