/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container {
    max-width: 1400px;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

/* Root variable */
:root {
	--ss-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Merriweather Sans', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --ss-font-primary: 'Merriweather Sans', sans-serif;

    --ss-dark: #000000;
    --ss-white: #ffffff;
    --ss-light-gray: #8e8e8e;
    --ss-dark-gray: #7a7a7a;
    --ss-dark-blue: #011E36;

    --ss-text-xss: 12px;
    --ss-text-xs: 14px;
    --ss-text-s: 16px;
    --ss-text-m: 18px;
    --ss-text-xl: 24px;

}

html, body{
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
}

/*================ common-css =================*/
/* -------- color */
.dark-bg{
    background-color: var(--ss-dark);
}
.light-gray-bg{
    background-color: var(--ss-light-gray);
}
.dark-gray-bg{
    background-color: var(--ss-dark-gray);
}
.light-bg-1{
    background-color: #EDF2F7;
}
.light-bg-2{
    background-color: #E4E6EB;
}
.text-white{
    color: var(--ss-white);
}
/* -------- font size */
/* .text-xl{
    font-size: var(--l-text-xl);
    line-height: 110%;
}
.text-s{
    font-size: var(--l-text-s);
    line-height: 24px;
}
.text-xs{
    font-size: var(--l-text-xs);
    line-height: 18px;
}
.text-xss{
    font-size: var(--l-text-xss);
    line-height: var(--l-text-s);
} */
/* --------- font weight */
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extra-bold{
    font-weight: 900;
}
/* -------- border -------- */
/* .border-dark-1{
    border: 1px solid var(--l-dark-5);
}
.border-dark-b1{
    border-bottom: 1px solid var(--l-dark-5);
}
.border-danger-1{
    border: 1px solid var(--l-danger-1);
} */
/* ---------- btn ---------- */
.btn-primary{
    background-color: var(--ss-dark-blue);
    padding: 8px 10px;
}
.btn-custom{
    border-radius: 100px;
    font-weight: 500;
    font-size: var(--ss-text-xs);
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 16px;
}
.btn-custom__red{
    background-color: var(--l-color-red);
}

body{
    font-family: var(--ss-font-primary);
    background-color: var(--ss-white);
    font-size: var(--ss-text-s);
    -webkit-font-smoothing: antialiased;
}

.inherit-hover:hover{
    color: inherit;
}
.light-hover:hover{
    color: #fff;
}
.no-transition{
    transition: unset;
}

/* ============ header css  =================================== */

/* header top */
.header-top {
    padding: 2px 0;
}
.header-auth li {
    border-right: 1px solid var(--ss-dark-gray);
}
.header-auth li:last-child {
    border-right: none;
}
.header-auth li a {
    display: inline-block;
    color: var(--ss-dark-gray);
    font-size: var(--ss-text-xs);
}
.account {
    padding-right: 15px;
}
.signin {
    padding-left: 15px;
}

/* header nav */
.header-nav {
    padding: 10px 0;
    box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 0 1px 0 rgb(65 71 108 / 15%);
}
.header-nav__logo img {
    max-width: 150px;
}
.header-nav__menu{
    padding-left: 35px;
    flex: 1;
}
.header-nav__menu>ul>li {
    padding-right: 35px;
}
.header-nav__menu li {
    position: relative;
}
.header-nav__menu ul li a{
    font-size: var(--ss-text-xs);
    font-weight: 400;
    color: var(--ss-dark-gray);
}
.header-nav__menu ul li a:hover{
    color: var(--ss-dark-blue);
}
/* dropdown */
.header-nav__menu .topmenu ul {
    display:none;
	position: absolute;
    min-width: 200px;
    border: 1px solid black;
}
.header-nav__menu .topmenu ul li a{
    display: block;
    padding: 5px 15px;
}
.header-nav__menu li>a:hover>{
    color: var(--ss-dark-blue);
}
.header-nav__menu li:hover > ul {
    display: block;
}
.header-nav__menu ul.submenu {
    top: 100%;
    left: 0;
}
.header-nav__menu ul.submenu .submenu{
    top: 0;
    left: 100%;
    overflow-y: scroll;
    height: 300px;
}
.header-nav__menu p {
    margin: 0;
    font-size: var(--ss-text-xs);
}
.disease {
    padding-left: 20px;
}
.disease p a {
    padding: 0 !important;
}
.disease a {
    padding-left: 20px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.header-nav__brand-logo {
    flex: 0 0 auto;
}
